.footer {
    height: 630px;
    position: relative;

    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 55px;
    }

    &__addr {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        font-style: normal;
    }

    &__phone {
        display: block;
        margin: 36px auto;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

    &__social {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        gap: 27px;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 53px;
            height: 53px;
            border-radius: 100%;
            border: 2px solid #fff;

            img {
                height: 27px;
            }

            &:hover {
                box-shadow: 10px 8px 8px #fff;
            }
        }
    }
}