.reviews {
    padding-bottom: 60px;
}

.reviews-item {
    display: flex;
    justify-content: start;
    margin-top: 60px;
    gap: 60px;

    @media screen and (max-width: 425px) {
        gap: 30px;
    }

    &__img {
        width: 169px;
        height: 169px;

        @media screen and (max-width: 992px) {
            width: 140px;
            height: 140px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: #0d0d0d;

        @media screen and (max-width: 992px) {
            font-size: 16px;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        color: #646464;

        @media screen and (max-width: 992px) {
            font-size: 12px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #0d0d0d;
        margin-top: 10px;

        @media screen and (max-width: 992px) {
            font-size: 14px;
        }
    }
}